body, .container {
    margin: 0px;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


.top {
    display: flex;
    align-items: center;
    background-color: #1C1A1A;
    background: url(img/giphy3.gif) no-repeat center center;
    background-size: 100%;
    background-attachment: fixed;
    justify-content: space-between;
}

.container-capa{
    display: flex;
    align-items: center;
    flex-direction: row;

}



h1, h2 {
    /* color: #FFFFFF;
    left: 27%; */
}

h4 {
    font-size: 20px;
    font-weight: 200;
}

.title-article {
    color: black;
    font-size: 55px;

}



.ball-left, .ball-right{
    position: relative;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    opacity: .9;
    
    

}

.text-top, h2 {
    opacity: 1.9;
    position: absolute;
    width: 340px;
    height: 340px;
}

.text-top {
    width: 100%;
    top: 35%;
}

.left {
    text-align: end;
    color: #AB69D5;
    padding: -19px;
    position: absolute;
    right: 65px;

}

.right {
    text-align: start;
    padding-left: 27px;
    color: white;

}



/* 
.ball-left, .ball-right {
    animation:rotate 20s linear infinite

}

.ball-right::before{
    animation:rotate 3s linear reverse infinite; }
@keyframes rotate { 100% { transform:rotate(-360deg); }

} */



.ball-left{
    background-color: #AB69D5;
    left: 37%;
}
.ball-right{
    background-color: rgba(252, 254, 253, 0.767);
    left: 45%;
}

.menu {
    background-color: white;
    border: none;
    color: #AB69D5;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    animation: color-me-in 2.7s;
    animation-delay: 4s;
    animation-iteration-count:infinite;
    border-radius: 25px;
  }


  .menu:hover {
    background: white;
    color: rgb(151, 54, 211);
  }

  @keyframes color-me-in {
    /* You could think of as "step 1" */
    0% {
      background: white;
      color: #AB69D5;
    }
    /* You could think of as "step 2" */
    100% {
      background: #AB69D5;
      color: white;
    }
  }
  

  .btn-violence, .btn-education, .btn-population {
    background-color: #4B4A47;
    border-radius: 145px;
    width: 210px;
    height: 235px;
    text-decoration: none;
  }

  .menu:hover {
    background-color: rgb(224, 189, 167);
  }

  aside, .text-topic {
    display: flex;
    flex-direction: column;
    margin-right: 45px;
  }





.box-select {
    display: flex;
    width: 49%;
    flex-direction: column;
    transition: all 1s;
}

.box-country * {
    width: 100%;
    flex-basis: 49%;
}

.box-country {
    display: flex;
    flex-wrap: wrap;
    padding-left: 28%;
    padding-right: 28%;
    width: 42%;
    align-self: center;
    background-color: rgba(245, 245, 245, 1);

}

.country-selection, .indicator-selection, .balls{
    display: flex;
    flex-direction: row;
    align-items: center;
}



.p-country {
    position: relative;
    color: #AB69D5;
    bottom: 70px;
    right: 45px;
    font-weight: 800;
}

.topic-text-element {
    color: white;
    position: relative;
    left: 5%;
}

article, .country {
    display: flex;
    flex-direction: column;
    width: 49%;
    align-self: baseline;

}

nav {
    display:flex;
    justify-content:space-evenly;
    width: 100%;
    margin: 0 auto;
    position:sticky;
    top:0;
    left:0;
    background:#F4F5F0;
    text-align:center;
    box-shadow: 0 8px 8px -8px rgba(39, 39, 39, 0.5);
    z-index:999;
    }

    ul {
        display:flex;
        justify-content:space-evenly;
        width: 35%;
        list-style: none;
        }

.menu-nav, .a-nav {
    text-decoration: none;
    font-family: inherit;
    color: gray;
    font-weight: 300;
    transition: color 0.5s ease;
}

.a-nav:hover {
    color: black;
    font-weight: 500;
}

.logo {
    width: 7%;
    height: 7%;
}

.educadash {
    background-color: #4B4A47;
}
.card {
    color:#242A36;
  }

  .dashboard{
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: 49% 49%;
    height: calc(100vh - 110px);
    margin-top: 20px;
    margin-bottom: -101px;
    }

    .dashboard {
        grid-row: 1 / span 2;
        grid-column: 1 / span 1;
      }
      .dashboard-card, .btn-education, .btn-violence, .btn-population {
        background: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        padding: 2px;
        margin: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgba(245, 245, 245, 1);
        opacity: 0.7;
        border-radius: 2px;
      }

      .topic-btn, .btn-education, .btn-violence, .btn-population  {
          display: flex;
          color: #242A36;
          justify-content: center;
          font-weight: 900;
          margin: 25px;
          
      }

      .btn-education:hover, .btn-violence:hover, .btn-population:hover {
        background: rgb(255, 255, 255);
        box-shadow: 0 0 10px rgba(0,0,0,0.2);

      }

      .topic-selection {
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .section-text, .section-title, p, .title-article {
          text-align: center;
      }


      span {
          font-weight: 100; 
      }

      .radio-indicator {
        -webkit-appearance: none;
        background-color: #fafafa;
        border: 1px solid #cacece;
    /* 	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05); */
        padding: 9px;
        border-radius: 50px;
        display: inline-block;
        position: relative;
    }
    
    .radio-indicator:checked:after {
        content: ' ';
        width: 12px;
        height: 12px;
        border-radius: 50px;
        position: absolute;
        top: 3px;
        background: #AB69D5;
        box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
        text-shadow: 0px;
        left: 3px;
        font-size: 32px;
    }
    
    .radio-indicator:checked {
        background-color: #e9ecee;
        color: #AB69D5;
        border: 1px solid #AB69D5;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
    }
    
    .radio-indicator:active, .radio-indicator:checked:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }


    

/* transição ancora */
