body, .container {
    margin: 0px;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


.top {
    display: flex;
    align-items: center;
    background: url(img/background-data-lovers.png) no-repeat center center;
    background-size: 100%;
    background-attachment: fixed;
    justify-content: space-between;
}

.container-capa{
    display: flex;
    align-items: center;
    flex-direction: row;

}



h1, h2 {
    color: #FFFFFF;
    left: 27%;
}

.ball-left, .ball-right, .ball-topic {
    position: relative;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    opacity: .9;
    
    

}
.ball-topic, .text-top, h2 {
    opacity: 1.9;
    position: absolute;
    width: 340px;
    height: 340px;
}

.text-top {
    width: 42%;
    text-align: center;
    left: 28%;
    top: 50%;
}

/* 
.ball-left, .ball-right {
    animation:rotate 20s linear infinite

}

.ball-right::before{
    animation:rotate 3s linear reverse infinite; }
@keyframes rotate { 100% { transform:rotate(-360deg); }

} */



.ball-left{
    background-color: #FC9453;
    left: 37%;
}
.ball-right, .ball-topic{
    background-color: #52514E;
    left: 45%;
}

.element {
    display:flex;
  }
      
      
      .elemA, .elemB {
        position: relative;
        text-align: center;
        padding: 50px;
        margin-bottom: 6px;
        height: 60px;
        width: 200px;
      }
      .elemA:before, .elemB:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 80%;
        width: 50%;
        background: #FF914D;
        transform: skew(0deg, -50deg);
      }
      .elemA:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 80%;
        width: 50%;
        background: #FF914D;
        transform: skew(0deg, 50deg);
      }
  

.menu, .btn-violence, .btn-education, .btn-population, .country * {
    background-color: #FC9453;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
  }

  .menu{
    border-radius: 25px;
  }

 

  .btn-violence, .btn-education, .btn-population {
    background-color: #4B4A47;
    border-radius: 145px;
    width: 210px;
    height: 235px;
  }

  .menu:hover {
    background-color: rgb(224, 189, 167);
  }

  aside. .text-topic {
      display: flex;
      flex-direction: column;
  }


.box-select {
    display: flex;
    width: 49%;
    flex-direction: column;
    transition: all 1s;
}

.box-country * {
    width: 100%;
    flex-basis: 49%;
}

.box-country {
    display: flex;
    flex-wrap: wrap;
    width: 49%;

}

.country-selection, .indicator-selection, .balls{
    display: flex;
    flex-direction: row;
    align-items: center;
}



.p-country {
    position: relative;
    color: aqua;
    bottom: 70px;
    left: 37px;
}

.topic-text-element {
    color: white;
    position: relative;
    left: 5%;
}

article, .country {
    display: flex;
    flex-direction: column;
    width: 49%;

}

nav {
    display:flex;
    justify-content:space-evenly;
    width: 100%;
    margin: 0 auto;
    position:sticky;
    top:0;
    left:0;
    background:#F4F5F0;
    text-align:center;
    box-shadow: 0 8px 8px -8px rgba(39, 39, 39, 0.5);
    z-index:999;
    }

    ul {
        display:flex;
        justify-content:space-evenly;
        width: 35%;
        list-style: none;
        }

.menu-nav, .a-nav {
    text-decoration: none;
    font-family: inherit;
    color: gray;
    font-weight: 300;
    transition: color 0.5s ease;
}

.a-nav:hover {
    color: black;
    font-weight: 500;
}

.logo {
    width: 7%;
    height: 7%;
}

.educadash {
    background-color: #4B4A47;
}
.card {
    color:#242A36;
  }

  .dashboard{
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: 49% 49%;
    height: calc(100vh - 110px);
    margin-top: 20px;
    margin-bottom: -101px;
    }

    .dashboard {
        grid-row: 1 / span 2;
        grid-column: 1 / span 1;
      }
      .dashboard-card {
        background: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        padding: 2px;
        margin: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgba(245, 245, 245, 1);
        opacity: 0.7;
        border-radius: 2px;
      }

    

/* transição ancora */
